:root {
  --primary-color: #ffca2a; /*f4ca51*/
  --primary-color-dark: rgb(232, 177, 13);
  --primary-color-extra-dark: hsl(18, 58%, 27%);
  --primary-dark: #1f252e;
}

.aboutus {
  margin-top: 1%;
  text-align: center;
  color: white;
  font-size: 3rem;
  text-shadow: 2px 2px 2px var(--primary-color-extra-dark);
} 

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center the cards horizontally */
  align-items: center; /* Center the cards vertically */
  margin-bottom: 10%; /* Adjust bottom margin as needed */
}

body {
  margin: 0;
  font-family: BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(22, 20, 24);
  color: #eee;
  user-select: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.main h2 {
  margin-top: 2%;
}

.card {
  max-width: 300px;
  margin: 5% auto;
  border: 1px solid #ffffff22;
  box-shadow: 0 7px 20px 5px #00000088;
  background-color: #362b126c;
  border-radius: 0.7rem;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(7px);
  overflow: hidden;
  opacity: 0;
  transition: 0.5s all;
  animation: bottomAni 1s ease forwards;
  animation-delay: calc(0.1s * var(--index)); /* Delay each card by 0.1s */
  /* Remaining CSS styles for card */
  hr {
    width: 100%;
    border: none;
    border-bottom: 2px solid #dfdfdf9d;
    margin-top: 5%;
  }
  ins {
    text-decoration: none;
  }
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    padding: 1rem;
    .profileImage {
      border-radius: 0.5rem;
      max-width: 100%;
      width: 300px;
      height: 250px;
      object-fit: cover;
    }
    .description {
      margin: 0.5rem 0;
      color: #e2e2e2;
    }
    .info_about {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .info {
        display: flex;
        align-items: center;
        color: var(--primary-color);
        font-weight: 700;
        ins {
          margin-left: -0.3rem;
          margin-right: 0.5rem;
        }
      }
    }
    .creator {
      display: flex;
      margin-top: 1rem;
      ins {
        color: #ebceaa;
        text-dergb(201, 191, 158)n;
      }
    }
  }
  &:hover {
    border: 1px solid #ffffff71;
    box-shadow: 0 7px 50px 10px var(--primary-color-extra-dark);
    translate: 0px 4px 10px;
  }
}

@keyframes bottomAni {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@media screen and (max-width: 600px) {
 
  .aboutus {
    margin-top: 3%;
  }

}
